body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Хедр */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header > .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header .logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current::after {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*Хедр */ /*Хедр */ /*Хедр */ /*Хедр */ /*Хедр */ /*Хедр */ /*Хедр */
/*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */ /*Хиро */
/*features*/ /*features*/ /*features*/ /*features*/ /*features*/
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-wrapp {
  height: 112px;
  width: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*features*/ /*features*/ /*features*/ /*features*/ /*features*/

/*team*/ /*team*/ /*team*/ /*team*/ /*team*/ /*team*/ /*team*/ /*team*/

.team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-social-item {
  list-style: none;
  height: 40px;
}

.team-content {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-role {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-social {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-content ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color, #f4f4fd);
}

.team-social:hover,
.team-social:focus {
  background-color: #404bbf;
}
/*team*/ /*team*/ /*team*/ /*team*/ /*team*/ /*team*/ /*team*/
/*portfolio*/ /*portfolio*/ /*portfolio*/ /*portfolio*/ /*portfolio*/

.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-content {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-type {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*portfolio*/ /*portfolio*/ /*portfolio*/ /*portfolio*/ /*portfolio*/
/*footer*/ /*footer*/ /*footer*/ /*footer*/ /*footer*/ /*footer*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  max-width: 264px;
}
.footer .logo-accent {
  color: #f4f4fd;
}
.contacts {
  font-style: normal;
}

.footer-container {
  display: flex;
}

.logo-wrapper {
  margin-right: 120px;
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

:root {
  --icon-color: #f4f4fd;
}

.footer .team-icon {
  width: 24px;
  height: 24px;
  fill: var(--icon-color, #f4f4fd);
}

.footer-team-social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-team-social:hover,
.footer-team-social:focus {
  background-color: #31d0aa;
}
/*footer*/ /*footer*/ /*footer*/ /*footer*/ /*footer*/ /*footer*/
